{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'></div>
                <div class='col-md-6'>
                    <form method='POST'>
                        {% csrf_token %}
                        <fieldset class='form-group mx-auto'>
                            <legend class='border-bottom mb-4'>Reset password</legend>
                            {{ form | crispy }}
                        </fieldset>
                        <div class='form-group mx-auto'>
                            <button class='btn btn-outline-info' type='submit'>Change password</button>    
                        </div>
                    </form>
                </div>
                <div class='col-md-3'></div>
            </div>
        </div>
{% endblock content %}