{% extends "polls/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class='container'>
        <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
        <form method='POST' class='mx-auto'>
            {% csrf_token %}
            <fieldset class='form-group mx-auto mt-5'>
                <legend class='border-bottom mb-4'>Register today</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group mx-auto mb-2">
                <button type="submit" class="btn btn-dark mx-auto">Sign Up</button>
            </div>
        </form>
        </div>
        <div class='col-md-3'></div>
        <div class='row  mx-auto'>
                <small class='text-muted' >
                  Already have an account? <a href="{% url 'login' %}">Sign in</a>
                </small>    
            </div>
        </div>
        </div>
{% endblock content %}